{% extends "admin/change_form_object_tools.html" %}
{% load i18n admin_urls static %}



{% block object-tools-items %}

<li>

        <input type="submit" style="   display: block;
        float: left;
        padding: 3px 12px;
        background: var(--object-tools-bg);
        color: var(--object-tools-fg);
        font-weight: 400;
        font-size: 0.6875rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        " class="historylink" value="Generate Report" name="_report"/> 
</li>
{{ block.super }}

{% endblock %}